body {
    box-sizing: border-box;
    margin: 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  
  h1 {
    margin: 0;
    font-family: sans-serif;
  }
  
  /* INDEX-SPECIFIC STYLING */
  
  #index-header {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  
  #index-menu {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin: 1em;
  }
  
  table{
    border-collapse:collapse;
    max-width: 1500px;
    width: 100%;
  }
  
  table tr {
  border-bottom:1px solid #D3D3D3;
  }
  
  th, td {
  padding: 15px;
  }
  
  td {
    text-align: center
  }
  
  td.index-codes {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .index-code {
    flex-grow: 1
  }
  
  /* Histograms */
  
  #histograms-table {
    border: 1px solid #D3D3D3;
  }
  
  .table-header {
    font-family: sans-serif;
  }
  
  .histogram-posters>a {
    margin: 0.33em;
  }
  
  .submenu {
    margin-top: -1em;
    margin-bottom: 1em;
    font-family: sans-serif
  }
  
  /* Thread pages */
  
  .num_posts {
    font-family: sans-serif;
    font-weight: bold;
  }
  